/auto-save-list
/cnfonts
/elpa
/pyim
/cache
/eshell
/games
/places
/transient

.projectile
.DS_Store
network-security.data
projectile.cache
projectile-bookmarks.eld
recentf
smex-items
bookmarks
\#*
\~*
session*
*.desktop
.*
eclipse.jdt.ls
use-package/
company-statistics-cache.el