/auto-save-list
/cnfonts
/elpa
/pyim
/cache
/eshell
/games
/places
/transient
/backups
/workspace
/misc
/packages
/request
/rime
/url


\#*
\%*
\~*
*.desktop
.*
.projectile
.DS_Store
custom.el
tramp
network-security.data
projectile.cache
projectile-bookmarks.eld
recentf
smex-items
bookmarks
session*
eclipse.jdt.ls
company-statistics-cache.el
machine.el
history